@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

ul {
  list-style: none;
}

button {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* header */

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__number {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #443e3e;
}

.header__schedule {
  font-weight: 400;
  font-size: 12px;
  color: #999;
}

.socials {
  display: flex;
  gap: 20px;
}

.header__btns {
  border: none;
  background-color: transparent;
}

.header__buttons {
  display: flex;
  gap: 30px;
}

.header__btn {
  border: none;
  padding: 15px 30px;
  width: 172px;
  height: 44px;
  background: #E81212;

  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

.header__btn:hover,
.header__btn:active {
  background-color: #e5e5e5;
}

.header__buttons__mb {
  display: none;
} 

.mini-logo {
  display: none;
}

.header__2nd-section {
  margin: 0 auto;
  width: 100%;
  height: 48px;

  background-color: #E81212;
}

.header__bottom {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
}

.header__bottom ul {
  display: flex;
  gap: 77px;
}

.header__2nd-section__list__items {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.header__2nd-section__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.25px;
  
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.header__2nd-section__menu span {
  width: 21px;
  height: 1.5px;
  background-color: #fff;
}

/* hero */

.hero {
  margin: 0 auto;
  max-width: 1600px;
  height: 500px;
  background-image: url(../images/hero_bg.jpg);
  background-position: center center;
}

.hero__content {
  padding-top: 120px;
  width: 550px;
  height: 262px;
}

.hero__title {
  width: 400px;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}

.hero__title__1st-line {
  color: #FCCD05;
}

.hero__text {
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.hero_btn {
  border: none;
  padding: 15px 30px;
  width: 172px;
  height: 44px;
  background: #E81212;

  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

.hero_btn:hover,
.hero_btn:active {
  background-color: #e5e5e5;
}

/* cards */

.cards {
  padding-top: 100px;
}

.cards ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  position: relative;
  display: inline-block;
}

.cards__content {
  position: absolute;
  top: 65%;
  left: 5%;
}

.cards__title {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
}

.cards__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}

.img1n6 {
  width: 540px;
  height: 240px;
}

.img2n3n4n5 {
  width: 300px;
  height: 240px;
}

/* Products */

.products {
  text-align: center;
}

.products__content {
  padding-top: 100px;
  padding-bottom: 40px;
}

.products__title {
  font-weight: 600;
  font-size: 36px;
  color: #443e3e;
}

.products__content span {
  display: inline-block;
  width: 200px;
  height: 3px;
  background-color: #FCCD05;
}

.products__text {
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #646469;  
}

.products__filter__list {
  padding-bottom: 30px;
  display: flex;
  gap: 40px;
}

.products__list__item1,
.products__list__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.products__list__item1 {
  padding: 8px 20px;
  width: 142px;
  height: 41px;
  background: linear-gradient(90deg, #e81212 0%, #fccd05 100%);
}

.products__filter1,
.products__filter {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #443e3e;
}

.products__filter1 {
  color: #fff;
}

.products__cards__list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  row-gap: 40px;
}

.products__cards {
  width: 285px;
  height: 413px;
}

.video__btn {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;

  border: none;
  background-color: #fff;
}

.video__text {
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #443e3e; 
}

.products__cards__name {
  text-align: start;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #443e3e; 
}

.products__cards__content {
  width: 245px;
}

.products__cards__info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.green_dots {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #69a042;
}

.orange_dots {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #f58020;
}

.red_dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #E81212;
}

.products__cards__info p {
  padding-left: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #646469;
}

.products__price__discount {
  text-align: start;
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #999;
}

.products__price1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #E81212;
}

.products__price {
  text-align: start;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #443e3e;
}

.products__btn {
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #E81212;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #E81212;
}

.mb__cards__btns {
  display: none;
  padding-top: 15px;
  gap: 10px;
}

.order__btn {
  border: none;
  padding: 15px;
  width: 165px;
  height: 44px;
  background-color: #E81212;

  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
}

.store__btn {
  border: 1px solid #E81212;
  background-color: #fff;
  padding: 15px 30px;
  width: 165px;
  height: 44px;

  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #E81212;
}

/* Services */

.services__title {
  padding-top: 100px;
  padding-bottom: 5px;
  width: 508px;
  font-weight: 600;
  font-size: 36px;
  color: #443e3e;
}

.services span {
  display: block;
  width: 200px;
  height: 3px;
  background-color: #FCCD05;
}

.services ul {
  padding-top: 40px;
  gap: 30px;
  row-gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  text-align: center;
  width: 380px;
  height: 247px;
}

.services__item__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #443e3e;
}

.services__item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #646469;
}

@media only screen and (max-width:1200px) {

  .container {
    padding: 0 20px;
  }

}

@media only screen and (max-width:600px) {

  .header__main {
    padding: 10px 10px;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.25px;
  
    width: 24px;
    height: 24px;
    background-color: #fff;
  }
  
  .toggle span {
    display: block;
  
    width: 21px;
    height: 1.5px;
    background-color: #443e3e;
  } 

  .header__logo, .header__content, .socials, .header__btn, .fav_btn, .header__2nd-section {
    display: none;
  }

  .mini-logo, .header__buttons__mb {
    display: block;
    display: flex;
    gap: 20px;
  }

  .header__buttons {
    gap: 10px;
  }
  
  .hero__content {
    width: 340px;
    padding-top: 100px;
    text-align: center;
  }

  .hero__title {
    width: 340px;
    font-size: 36px;
  }

  .hero__text {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 16px;
  }

  .hero_btn {
    margin: auto;
  }

  .cards ul {
    padding-top: 50px;
    gap: 10px;
  }

  .cards__title {
    padding-bottom: 5px;
  }

  .cards__text {
    font-size: 12px;
  }

  .img1n6, .img2n3n4n5 {
    width: 340px;
    height: 200px;
  }

  .products__title {
    font-size: 24px;
  }

  .products__content {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .products__filter__list {
    flex-wrap: wrap;
  }

  .products__cards__list {
    padding-bottom: 30px;
  }

  .products__cards {
    height: 417px;
  }

  .video__btn {
    margin: auto;
    background-color: #FCCD05;
  }

  .mb__cards__btns {
    display: block;
    display: flex;
  }

  .first,
  .second,
  .third,
  .fourth {
    display: none;
  }

  .services__title {
    padding-top: 50px;
    width: 340px;
    font-size: 24px;
  }

  .services__item {
    width: 340px;
    height: 134px;
    row-gap: 40px;
    display: flex;
    text-align: start;
    gap: 15px;
  }

  .services__item img {
    width: 50px;
    height: 50px;
  }

  .services__item__title {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 16px;
  }

}