@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

body {
  font-family: "Livvic", sans-serif;
}

header {
  margin: 0 auto;
  height: 200px;
  background: #014e56;
}

.header_block {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
}

.header_left {
  display: flex;
  gap: 80px;
}

.header_items {
  display: flex;
  gap: 40px;
}

.header_item {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.header_btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 30px;
  padding: 9px 33px;
}

.header_menu {
  display: none;
}

/* hero */

.hero {
  margin: 0 auto;
  height: 548px;
  background: #014e56;
  background-image: url(/images/hero_1.svg), url(/images/hero_2.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

.hero__title {

  font-weight: 700;
  font-size: 64px;
  line-height: 156%;
  color: #fff;
}

.hero__text {

  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #f67e7e;
}

/* footer */

footer {
  margin: 0 auto;
  padding-top: 48px;
  height: 196px;
  background: #002529;
}

.footer_block {
  display: flex;
  justify-content: space-between;
}

.footer_left {
  display: flex;
  gap: 125px;
}

.footer_links {
  padding-top: 25px;
  display: flex;
  gap: 40px;
}

.footer_item {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.footer_address {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
  opacity: 0.6;
}

.footer_socials {
  display: inline-flex;
  gap: 16px;
  align-items: baseline;
}

.socials_btn {
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 1110px) {

  .container {
    padding: 0 24px;
  }

}

@media only screen and (max-width: 900px) {

  .header_block {
    padding-top: 64px;
  }

  .header_left {
    gap: 50px;
  }

  footer {
    height: 271px;
    padding-top: 56px;
  }

  .footer_block {
    flex-direction: column;
  }

  .footer_left {
    gap: 0;
    justify-content: space-between;
  }

  .footer_logo {
    width: 96px;
    height: 24px;
  }

  .footer_links {
    padding-top: 53px;
    gap: 24px;
  }

  .footer_item {
    font-size: 15px;
    line-height: 167%;
  }

  .footer_info {
    text-align: right;
  }

  .footer_socials {
    padding-top: 32px;
  }

}

@media only screen and (max-width: 615px) {

  header {
    height: 567px;
  }

  .header_block {
    padding-top: 48px;
  }

  .header_btn, .header_items {
    display: none;
  }

  .header_menu {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    gap: 4px;

    width: 20px;
    height: 17px;
    background-color: transparent;
  }

  .header_menu span {
    display: block;

    width: 20px;
    height: 3px;
    background-color: #fff;
  }

  footer {
    height: 432px;
  }

  .footer_left {
    flex-direction: column;
    text-align: center;
  }

  .footer_links {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
  }

  .footer_info {
    text-align: center;
  }

  .footer_socials {
    align-self: center;
  }

}