@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

body {
  font-family: "Livvic", sans-serif;
}

header {
  margin: 0 auto;
  height: 517px;
  background: #014e56;
  background-image: url(../images/about_hero_bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.header_block {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
}

.header_left {
  display: flex;
  gap: 80px;
}

.header_items {
  display: flex;
  gap: 40px;
}

.header_item {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.header_btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 30px;
  padding: 9px 33px;
}

.header_menu {
  display: none;
}

.hero {
  display: flex;
  padding-top: 120px;
  gap: 126px;
}

.hero_title {
  max-width: 539px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
}

.hero_line {
  display: inline-block;
  width: 50px;
  height: 4px;
  background: #F67E7E;
}

.hero_text {
  max-width: 730px;
  padding-top: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.sec1 {
  height: 1002px;
  background: #004047;
  background-image: url(/images/sec_1_1.svg), url(/images/sec_1_2.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

.sec1_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  align-self: center;
  padding-top: 140px;
}

.sec1_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  row-gap: 76px;
  padding-top: 64px;
}

.sec1_list_item {
  position: relative;
  text-align: center;
  width: 350px;
  height: 253px;
  background: #012f34;
}

.sec1_cards_imgs {
  padding-top: 32px;
}

.sec1_cards_name {
  padding-top: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
}

.sec1_cards_info {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
}

.sec1_cards_btn {
  position: absolute;
  top: 89%;
  right: 42%;
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #f67e7e;
}

.sec1_cards_socials {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.sec1_cards_social_btns {
  border: none;
  background: transparent;
}

.sixth_card_name {
  padding-top: 35px;
}

.sixth_card_text {
  padding-top: 8px;
  margin: 0 auto;
  max-width: 254px;
}

.x_btn {
  background: #79c8c7;
}

.sec2 {
  height: 437px;
  background: #012f34;
  background-image: url(/images/sec_2.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.sec2_title {
  padding-top: 140px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.sec2_list {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.sec3 {
  margin: 0 auto;
  height: 200px;
  background: #f67e7e;
  background-image: url(../images/sec3-img.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.sec3_block {
  margin: 0 auto;
  max-width: 917px;
  padding-top: 76px;
  display: flex;
  justify-content: space-between;
}

.sec3_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #012f34;
}

.sec3_btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #012f34;
  border: 3px solid #012f34;
  border-radius: 30px;
  padding: 9px 33px;
}

footer {
  margin: 0 auto;
  padding-top: 48px;
  height: 196px;
  background: #002529;
}

.footer_block {
  display: flex;
  justify-content: space-between;
}

.footer_left {
  display: flex;
  gap: 125px;
}

.footer_links {
  padding-top: 25px;
  display: flex;
  gap: 40px;
}

.footer_item {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.footer_address {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
  opacity: 0.6;
}

.footer_socials {
  display: inline-flex;
  gap: 16px;
  align-items: baseline;
}

.socials_btn {
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 1110px) {

  .container {
    padding: 0 24px;
  }

  .sec1 {
    height: 1219px;
  }

}

@media only screen and (max-width: 900px) {

  .header_block {
    padding-top: 64px;
  }

  .header_left {
    gap: 50px;
  }

  header {
    background-position: right bottom;
    height: 556px;
  }

  .hero {
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding-top: 112px;
  }

  .hero_title {
    font-size: 64px;
    text-align: center;
    max-width: 380px;
  }

  .hero_text {
    max-width: 457px;
    padding-top: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 187%;
  }

  .hero_line {
    display: none;
  }

  .sec1_title {
    font-size: 32px;
    padding-top: 100px;
  }

  .sec1_list {
    padding-top: 48px;
  }

  .sec1_list_item {
    width: 281px;
  }

  .sec2 {
    height: 308px;
    background-position: left top -100px;
  }

  .sec2_title {
    font-size: 32px;
    padding-top: 100px;
  }

  .sec2_list_item a img {
    width: 100px;
  }

  .sec3 {
    padding: 0 85px;
    background-position: left bottom -20px;
  }

  .sec3_block {
    padding-top: 76px;
    align-items: center;
  }

  .sec3_title {
    font-size: 32px;
  }

  footer {
    height: 271px;
    padding-top: 56px;
  }

  .footer_block {
    flex-direction: column;
  }

  .footer_left {
    gap: 0;
    justify-content: space-between;
  }

  .footer_logo {
    width: 96px;
    height: 24px;
  }

  .footer_links {
    padding-top: 53px;
    gap: 24px;
  }

  .footer_item {
    font-size: 15px;
    line-height: 167%;
  }

  .footer_info {
    text-align: right;
  }

  .footer_socials {
    padding-top: 32px;
  }

}

@media only screen and (max-width: 640px) {
  
  .sec1 {
    height: 2062px;
  }

}

@media only screen and (max-width: 600px) {

  header {
    height: 556px;
    background-position: right bottom -100px;
  }

  .header_block {
    padding-top: 48px;
  }

  .header_btn, .header_items {
    display: none;
  }

  .header_menu {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    gap: 4px;

    width: 20px;
    height: 17px;
    background-color: transparent;
  }

  .header_menu span {
    display: block;

    width: 20px;
    height: 3px;
    background-color: #fff;
  }

  .hero {
    padding-top: 80px;
  }

  .hero_title {
    font-size: 40px;
    max-width: 239px;
  }

  .hero_text {
    padding-top: 18px;
  }

  .sec1 {
    background-position: left top -100px, right bottom;
  }

  .sec1_title {
    padding-top: 88px;
  }

  .sec1_list {
    row-gap: 52px;
  }

  .sec1_list_item {
    width: 327px;
  }

  .sec2 {
    height: 632px;
    background-position: left -100px top -100px;
  }

  .sec2_list {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }

  .sec2_list_item a img  {
    width: 140px;
    height: 35px;
  }

  .sec3 {
    height: 302px;
  }

  .sec3_block {
    flex-direction: column;
  }

  .sec3_title {
    width: 280px;
    text-align: center;
    padding-bottom: 24px;
  }

  footer {
    height: 432px;
  }

  .footer_left {
    flex-direction: column;
    text-align: center;
  }

  .footer_links {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
  }

  .footer_info {
    text-align: center;
  }

  .footer_socials {
    align-self: center;
  }

}