@media only screen and (max-width: 1240px) {

  .container {
    padding: 0 25px;
  }

}

@media only screen and (max-width: 960px) {

  .hero {
    padding-top: 117px;

    &__top-list {
      flex-direction: column;
      row-gap: 16px;
      border: none;
      box-shadow: none;

      &__item {
        border-radius: 20px;
        max-width: 690px;
        height: 164px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
        background: #fff;

        padding: 32px 140px 32px 32px;
        display: flex;
        align-items: center;
        gap: 32px;

        & div p {
          max-width: 394px;
        }
      }

      & span {
        display: none;
      }
    }

    &__block__top {
      padding-bottom: 41px;
      flex-direction: column;

      &__content {
        padding-bottom: 73px;
        max-width: 690px;
        text-align: center;

        & h2 {
          padding-bottom: 49px;
          font-size: 44px;
        }

        & p {
          padding-bottom: 44px;
        }
      }
    }

    &__img-dt-mb {
      display: none;
    }

    &__img-tablet {
      display: block;
      width: 100%;
    }

  }

  .sec_1 {
    padding-top: 257px;

    &__overlay {
      padding-bottom: 48px;

      img {
        object-fit: cover;
        object-position: 25% 0;
        width: 729px;
        height: 383px;
      }
    }

    &__title_box {
      width: 729px;
      height: 383px;
      clip-path: polygon(36% 0, 0 0, 0 100%, 78% 100%);

      & h3 {
        max-width: 288px;
        padding-top: 112px;
        margin-left: 85px;
      }
    }

    &__list {
      column-gap: 0;
      row-gap: 49px;
      grid-template-columns: repeat(1, 537.52px);
      grid-template-rows: repeat(4, 88px);
    }

  }

  .sec_2 {
    padding-top: 100px;

    &__title {
      font-size: 44px;
    }

    &__text {
      padding-bottom: 40px;
    }

    &__list {
      display: grid;
      justify-content: center;
      flex-direction: column;
      gap: 32px;
      padding-bottom: 172px;

      &__item {
        width: 690px;
        height: 423px;

        & img {
          width: 690px;
          height: 247px;
          object-fit: fill;
        }

        & div {
          padding: 24px 32px 40px;
        }

        &__text {
          max-width: 510px;
        }
      }
    }

    &__table-box {
      flex-direction: column;
      height: 1051px;

      &__title {
        padding: 64px 15px 48px;
      }
    }
  }

  .sec_3 {

    &__title {
      padding-top: 88px;
      font-size: 44px;
    }

    &__list {
      row-gap: 16px;

      &__item {
        padding: 40px 76.22px 48px 85.41px;

        &__img {
          display: none;
        }
      }
    }
  }

  .sec_4 {
    padding-top: 88px;

    &__list {
      padding-top: 64px;

      &__item:nth-child(2),
      &__item:nth-child(6) {
        border: none;
      }
    }
  }

  .sec_5 {
    padding-top: 100px;

    &__list {
      padding-top: 56px;

      &__item {
        flex-direction: column;
        align-items: start;
        gap: 0;
        width: 330px;
        height: 289px;
        border-left: 30px solid $primary-color;

        &__content {
          padding-left: 32px;
          padding-top: 16px;
        } 
      }
    }
  }

  .cards_img {
    padding-top: 24px;
  }

  .cards_img img {
    width: 100px;
    height: 100px;
  }

  .sec_6 {
    padding-top: 100px;

    &__block {
      padding-top: 64px;
      flex-direction: column;
    }

    &__box {
      max-width: 700px;

      &__item {
        gap: 16px;

        & strong {
          width: 424px;
        }
      }
    }
  }

  iframe {
    width: 675px;
    height: 405px;
  }

  footer {
    height: 250px;
  }

  .footer__list {

    &__logo {
      padding-top: 45px;
      font-size: 30px;
    }

    &__navs {
      gap: 74px;
      padding-top: 50px;
    }
  }

  .nav_list__left a {
    font-size: 8px;

    & p {
      padding-bottom: 20px;
    }
  }

  .nav_list__right a {
    font-size: 8px;

    & p {
      padding-bottom: 13px;
    }
  }

  .footer__circles {
    padding-top: 50px;
    padding-bottom: 70px;
    gap: 7.65px;

    & img {
      width: 14.61px;
      height: 14.28px;
    }
  }

  .footer_btn {
    width: 143.59px;
    height: 21.55px;
  }

}

@media only screen and (max-width: 600px) {

  .hero {
    padding-top: 75px;

    &__block__top {
      padding-bottom: 56px;

      &__content {
        text-align: start;
        padding-bottom: 40px;
      }

      & h2 {
        font-size: 28px;
      }

      & h2,
      p {
        padding-bottom: 32px;
      }

      & p,
      button {
        font-size: 15px;
      }
    }

    &__img-dt-mb {
      display: block;
      width: 345px;
      height: 253px;
      border-radius: 15px;
    }

    &__img-tablet {
      display: none;
    }

    &__top-list {
      border-radius: 20px;
      max-width: 345px;
      height: 638px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
      background: #fff;

      margin: 0 auto;
      padding: 24px 37px 32px 32px;
      row-gap: 0;
      justify-content: space-between;

      &__item {
        border: none;
        box-shadow: none;
        height: 178px;

        padding: 0;
        gap: 0;
        flex-direction: column;
        align-items: start;

        & img {
          width: 68px;
          height: 68px;
        }

        & div h2 {
          padding-top: 16px;
          padding-bottom: 12px;
          font-size: 18px;
          max-width: 218px;
        }

        & div p {
          font-size: 14px;
        }
      }
    }
  }

  .sec_1 {
    padding-top: 57px;

    &__overlay {
      display: none;
    }

    & h3 {
      display: block;
      padding-top: 0;
      padding-bottom: 48px;
      margin: 0;
      font-weight: 600;
      font-size: 28px;
      line-height: 125%;
      color: #363738;
    }

    &__list {
      grid-template-columns: repeat(1, 337px);
      grid-template-rows: repeat(4, 74px);
      row-gap: 38px;

      &__item {
        gap: 16px;
        align-items: start;

        & img {
          width: 52px;
          height: 52px;
        }

        & div h3 {
          font-size: 18px;
        }

        & div p {
          font-size: 15px;
        }
      }
    }
  }

  .sec_2 {
    padding-top: 72px;

    &__title {
      font-size: 28px;
    }

    &__text {
      padding-top: 24px;
      padding-bottom: 32px;
      max-width: 375px;
    }

    &__list {
      padding-bottom: 120px;

      &__item {
        width: 345px;
        height: 415px;
        object-fit: contain;

        & img {
          width: 345px;
          height: 222px;
        }

        & div {
          padding: 24px 24px 24px 24px;
        }

        &__title {
          font-size: 18px;
        }

        &__text {
          padding-bottom: 24px;
        }
      }
    }

    &__table-box {
      justify-content: start;
      height: 1500px;

      &__title {
        padding-top: 32px;
        padding-bottom: 40px;
        font-size: 24px;
      }
    }

    &__table__page {
      padding: 24px 16px;
      height: 1350px;
    }

    &__table__top {
      border-bottom: none;
      padding-bottom: 24px;
    }
  }

  .sec_2__table__top p,
  .table_n1 {
    display: none;
  }

  .table_n2 {
    display: block;
    background: #F9F9FB;

    &__thead {
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      color: #fff;

      &__tr th {
        padding: 10px 219px 10px 16px;
        background: $primary-color;
        border: none;
      }
    }

    &__first-row {
      display: flex;
      gap: 16px;
      padding: 16px 18px 24px;
      border-bottom: 1px solid #d7d7dd;

      & div p {
        max-width: 169px;
        font-family: $second-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #6b6b6c;
      }

      & div strong {
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: #363738;
      }
    }

    &__second-row {
      border-bottom: 1px solid #d7d7dd;
    }

    &__rest-row {
      padding: 16px;

      &__text {
        padding-top: 10px;
        max-width: 263px;
        font-family: $second-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #6b6b6c;
      }

      &__number {
        padding-top: 10px;
        font-family: $second-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #363738;
      }
    }
  }

  .sec_3 {

    &__title {
      padding-top: 64px;
      padding-bottom: 30px;
      font-size: 28px;
    }

    &__list {
      row-gap: 14px;

      &__item {
        padding: 24px 24.3px 32px 47.5px;

        & h4 {
          padding-bottom: 16px;
        }

        & span {
          display: none;
        }

        & p {
          padding-top: 0;
        }
      }
    }
  }

  .sec_4 {
    padding-top: 64px;

    &__list {
      padding-top: 56px;

      &__item {
        width: 170px;

        &__content {
          left: 15px;
          right: 15px;
        }
      }

      &__item:nth-child(5) img {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 130px;
      }
    }
  }

  .sec_5 {
    padding-top: 132px;

    &__title {
      font-size: 28px;
    }

    &__list {
      padding-top: 32px;

      &__item {
        width: 345px;
        height: 156px;
        flex-direction: row;
        border-left: 20px solid $primary-color;

        &__content {
          padding-left: 16px;

          & h4 {
            padding-bottom: 8px;
          }
        }

        &__socials {
          padding-top: 23px;
        }
      }
    }
  }

  .cards_img {
    padding-left: 16px;
  }

  .sec_6 {

    &__title {
      font-size: 28px;
    }

    &__box {
      height: 600px;

      &__item {
        flex-direction: column;

        & strong {
          max-width: 283px;
        }
      }
    }
  }

  iframe {
    margin: 29px 0 26px;
    width: 327px;
    height: 196px;
  }

  footer {
    height: 481px;
  }

  .footer__list {
    flex-direction: column;

    &__logo {
      font-size: 20px;
      padding-top: 20px;
    }

    &__navs {
      padding-top: 20px;
    }
  }

  .nav_list__left a p {
    padding-bottom: 40px;
  }

  .nav_list__right a p {
    padding-bottom: 27px;
  }

  .footer__circles {
    gap: 4.9px;
    padding-top: 0px;
    padding-bottom: 113px;

    & img {
      width: 9.36px;
      height: 9.15px;
    }
  }

  .footer_btn {
    width: 294px;
    height: 44px;
  }

}