.sec_1 {
  padding-top: 67px;

  &__overlay {
    padding-bottom: 72.5px;

    & img {
      position: absolute;
    }
  }

  &__title_box {
    position: relative;
    width: 1240px;
    height: 453px;
    background-color:  $primary-color;
    clip-path: polygon(37% 0, 0 0, 0 100%, 64% 100%);

    & h3 {
      max-width: 362px;
      padding-top: 178px;
      margin-left: 90px;
      font-weight: 600;
      font-size: 48px;
      line-height: 125%;
      color: #fff;
    }
  }

  &__title-mb {
    display: none;
  }

  &__list {
    justify-content: center;
    display: grid;
    row-gap: 62px;
    column-gap: 140px;
    grid-template-columns: repeat(2, 447px);

    &__item {
      display: flex;
      gap: 40px;
      align-items: center;

      & div h3 {
        padding-bottom: 16px;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
        color: #363738;
      }

      & div p {
        font-family: $second-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #6b6b6c;
      }
    }
  }
}